
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Go Tour ADMIN
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  
  <link th:href="@{/admin/assets/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/admin/assets/demo/demo.css}" rel="stylesheet}" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->

    

      <div th:replace="admin/fragment/nav.html :: menu">
     
        </div>
    </div>
    <div class="main-panel">
  
      <div class="content">
        <div class="container-fluid">
         <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Buscar Reporte</h4>
                  <p class="card-category">Buscar reporte por username</p>
                </div>
                <div class="card-body">
                  <form  method="post" th:action="@{/admin/reporteSearch}">
                    <div class="row">
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username creador</label>
                          <input type="text" class="form-control" name="username">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Motivo</label>
                          <input type="text" class="form-control" name="motivo">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Texto</label>
                          <input type="text" class="form-control" name="texto">
                        </div>
                      </div>
                
                    <button type="submit" class="btn btn-primary pull-right">Buscar reporte</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
              <div class="content">
                <div class="container-fluid">

        
            <div class="content">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Reportes:</span>
                      
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <table class="table">
                        <thead class=" text-primary">
                            <td>Creador</td>
                            <td>Categoria</td>
                            <td>Tour/User Reportado</td>
                            <td>Motivo</td>
                            <td>Texto</td>
                            <td>Contestada</td>
                            <td> Contestar </td>


                          </tr>

                        </thead>
                        <tbody>
                          
                          <tr th:each="reporte: ${reportes}">
                            <td ><h4 th:href="@{'/user/'+${reporte.creador.id}+'/perfil/'}" th:text="${reporte.creador.username}"></h4> </td>
                            
                            <td><h4 th:text="${reporte.tipo}"></h4> </td>
                            <td th:if="${reporte.tipo=='USER'}"><h4 th:text="${reporte.userReportado.username}"></h4> </td>
                            <td th:if="${reporte.tipo=='TOUR'}"><h4 th:text="${reporte.tourReportado.id}"></h4> </td>
                            <td ><h4 th:text="${reporte.motivo}" ></h4></td>
                            <td th:text="${reporte.texto}" ></td>
                            <td th:text="${reporte.contestada}" ></td>
                            <td><a th:href="@{'/admin/reporte/'+${reporte.id}+'/gestion-reporte/'}"><button type="button" rel="tooltip" title="Contestar" class="btn btn-primary btn-link btn-sm" >
                                <i class="material-icons">edit</i></a>
                              </button></td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    
                   
                  </div>
                </div>
              </div>
            </div>
            
        
        </div>
      </div>
      <footer th:replace="admin/fragment/footer.html :: footer"></footer>
    </div>
  </div>
 
  

</body>

</html>